@model TemplateViewModel

<!-- ITEM -->
<div class="infogallery__card" style="background-image : @Model.ImageUrl.First()">
    <div class="infogallery__blur">
        <div class="infogallery__text d-flex">
            <h2 class="card__title">@Model.MainHeader</h2>
            <p class="card__text">@Model.ShortDescription</p>
            <p class="card__price">@Model.RegularPrice</p>
        </div>
    </div>
</div>
<!-- END ITEM -->