@model TemplateViewModel

<!--CHAIN-->
<div class="chain">
    <div class="container">
        <div class="chain__inner">
            <p>Главная / <span>@Model.MainHeader</span></p>
        </div>
    </div>
</div>
<!--CHAIN-->
<!--company info-->
<div class="company">
    <div class="container">
        <div class="article__header">
            <h2>@Model.MainHeader</h2>
            <p>@Model.ShortDescription</p>
        </div>
        <div class="company__comments d-flex">
            <div class="left__comment">
                <h2 class="info__title">Отзывы клиентов</h2>
                <p class="info__text">
                    ООО «Альянс» - команда квалифицированных специалистов,
                    оказывающих следующие виды услуг: кадастровые работы,
                    разработка и согласование проектной документации,
                    технического обследования зданий и сооружений.
                </p>
            </div>
            <div class="vertical-divider"></div>
            <div class="right__comment">
                <h2 class="info__title">Отзывы клиентов</h2>
                <p class="info__text">
                    ООО «Альянс» - команда квалифицированных специалистов,
                    оказывающих следующие виды услуг: кадастровые работы,
                    разработка и согласование проектной документации,
                    технического обследования зданий и сооружений.
                </p>
            </div>
        </div>
    </div>

</div>